{% extends 'alat/base_alat.html' %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">{{ data.header }}</h1>
    </div>
  
    <form method="POST" novalidate>
      {{ form.hidden_tag() }}

      <div class="form-group row">
        {{ form.nm_alat.label(class="col-sm-2 col-form-label") }}
        {% if form.nm_alat.errors %}
          <div class="col-sm-10 has-error">
            {{ form.nm_alat(class="form-control") }}                                        
            {% for error in form.nm_alat.errors  %}
                <span class="control-label">{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
        <div class="col-sm-10">
          {{ form.nm_alat(class="form-control", placeholder='Nama alat') }}
        </div>
        {% endif %}
      </div>

      <div class="form-group row">
        {{ form.merk.label(class="col-sm-2 col-form-label") }}
        {% if form.merk.errors %}
          <div class="col-sm-10 has-error">
            {{ form.merk(class="form-control") }}                                        
            {% for error in form.merk.errors  %}
                <span class="control-label">{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
        <div class="col-sm-10">
          {{ form.merk(class="form-control", placeholder='Merk alat') }}
        </div>
        {% endif %}
      </div>

      <div class="form-group row">
        {{ form.tipe.label(class="col-sm-2 col-form-label") }}
        {% if form.tipe.errors %}
          <div class="col-sm-10 has-error">
            {{ form.tipe(class="form-control") }}                                        
            {% for error in form.tipe.errors  %}
                <span class="control-label">{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
        <div class="col-sm-10">
          {{ form.tipe(class="form-control", placeholder='Tipe alat') }}
        </div>
        {% endif %}
      </div>

      <div class="form-group row">
        {{ form.no_seri.label(class="col-sm-2 col-form-label") }}
        {% if form.no_seri.errors %}
          <div class="col-sm-10 has-error">
            {{ form.no_seri(class="form-control") }}                                        
            {% for error in form.no_seri.errors  %}
                <span class="control-label">{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
        <div class="col-sm-10">
          {{ form.no_seri(class="form-control", placeholder='No seri') }}
        </div>
        {% endif %}
      </div>
       <div class="form-group row">
        {{ form.no_seri.label(class="col-sm-2 col-form-label") }}
        {% if form.no_seri.errors %}
          <div class="col-sm-10 has-error">
            {{ form.no_seri(class="form-control") }}                                        
            {% for error in form.no_seri.errors  %}
                <span class="control-label">{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
        <div class="col-sm-10">
          {{ form.no_seri(class="form-control", placeholder='No seri') }}
        </div>
        {% endif %}
      </div>

      <div class="form-group row">
        {{ form.tgl_kalibrasi.label(class="col-sm-2 col-form-label") }}
        {% if form.tgl_kalibrasi.errors %}
          <div class="col-sm-10 has-error">
            {{ form.tgl_kalibrasi(class="form-control") }}                                        
            {% for error in form.tgl_kalibrasi.errors  %}
                <span class="control-label">{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
        <div class="col-sm-10">
          {{ form.tgl_kalibrasi(class="form-control") }}
        </div>
        {% endif %}
      </div>

      <div class="form-group row">
        {{ form.aksesoris.label(class="col-sm-2 col-form-label") }}
        {% if form.aksesoris.errors %}
          <div class="col-sm-10 has-error">
            {{ form.aksesoris(class="form-control") }}                                        
            {% for error in form.aksesoris.errors  %}
                <span class="control-label">{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
        <div class="col-sm-10">
          {{ form.aksesoris(class="form-control", placeholder='Aksesoris') }}
        </div>
        {% endif %}
      </div>

      <div class="form-group row">
        {{ form.th_pengadaan.label(class="col-sm-2 col-form-label") }}
        {% if form.th_pengadaan.errors %}
          <div class="col-sm-10 has-error">
            {{ form.th_pengadaan(class="form-control") }}                                        
            {% for error in form.th_pengadaan.errors  %}
                <span class="control-label">{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
        <div class="col-sm-10">
          {{ form.th_pengadaan(class="form-control", placeholder='contoh: 2011') }}
        </div>
        {% endif %}
      </div>

      <div class="form-group row">
        {{ form.ket.label(class="col-sm-2 col-form-label") }}
        {% if form.ket.errors %}
          <div class="col-sm-10 has-error">
            {{ form.ket(class="form-control") }}                                        
            {% for error in form.ket.errors  %}
                <span class="control-label">{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
        <div class="col-sm-10">
          {{ form.ket(class="form-control", placeholder='Keterangan') }}
        </div>
        {% endif %}
      </div>

        <div class="form-group row">
          <div class="col-sm-10">
            {{ form.simpan(class="btn btn-primary") }}
          </div>
        </div>
      </form>
</main>
{% endblock %}