{% extends 'base.html' %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">{{ data.header }}</h1>
    </div>
  
    <h3>SIMUPF</h3>
    <p>Sistem Informasi Manajemen UPF-PFK Palembang</p>

    <div class="row">
    <!-- card -->
    <div class="card text-white bg-primary col-sm" >
      <div class="card-body">
        <h4 class="card-title">Alat Kalibrasi</h4>
        <p class="card-text">Here are the top resources for all things related to the Sun.</p>
        <!-- Links -->
        <a href="#" class="card-link text-white">Sun Gone</a>
        <a href="#" class="card-link text-white">Still Gone</a>
      </div>
      </div>

      <div class="card text-white bg-info col-sm" >
      <div class="card-body">
        <h4 class="card-title">Fasyankes</h4>
        <p class="card-text">Here are the top resources for all things related to the Sun.</p>
        <!-- Links -->
        <a href="#" class="card-link text-white">Sun Gone</a>
        <a href="#" class="card-link text-white">Still Gone</a>
      </div>
      </div>

      <div class="card text-white bg-success col-sm" >
      <div class="card-body">
        <h4 class="card-title">Peminjam</h4>
        <p class="card-text">Here are the top resources for all things related to the Sun.</p>
        <!-- Links -->
        <a href="#" class="card-link text-white">Sun Gone</a>
        <a href="#" class="card-link text-white">Still Gone</a>
      </div>
      </div>

      <div class="card text-white bg-danger col-sm" >
        <div class="card-body">
          <h4 class="card-title">Inventaris</h4>
          <p class="card-text">Here are the top resources for all things related to the Sun.</p>
          <!-- Links -->
          <a href="#" class="card-link text-white">Sun Gone</a>
          <a href="#" class="card-link text-white">Still Gone</a>
        </div>
        </div>
    <!-- end card -->

  </main>
{% endblock %}