{% extends 'pinjam/base.html' %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ data.header }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>
    </div>

    <!-- menampilkan data peminjam -->
    <div class="row">
        <div class="col-sm">
            <div class="form-group row">
                <label for="peminjam_alat" class="col-sm-2 col-form-label">Peminjam alat</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control" id="peminjam_alat" value="{{ peminjam.peminjam_alat }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="tanggal" class="col-sm-2 col-form-label">Tanggal</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control" id="tanggal" value="{{ peminjam.tanggal.strftime('%d-%m-%Y') }}">
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group row">
                <label for="tujuan" class="col-sm-2 col-form-label">Tujuan</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control" id="tujuan" value="{{ peminjam.tujuan }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="petugas_catat" class="col-sm-2 col-form-label">Petugas Catat</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control" id="tujuan" value="{{ peminjam.petugas_catat }}">
                </div>
            </div>
        </div>
    </div>
    <!-- end data peminjaman -->
    <br>
    
    <!-- membuat table -->
    <div class="row">
        <div class="col-sm-10">
            <table class="table table-strip">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Kode Alat</th>
                        <th>Nama Alat</th>
                        <th>Merk Alat</th>
                        <th>Serial Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in lihat %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ i.alat.kd_alat }}</td>
                            <td>{{ i.alat.nm_alat }}</td>
                            <td>{{ i.alat.merk }}</td>
                            <td>{{ i.alat.no_seri }}</td>
                        </tr>
                    {% endfor %}                    
                    
                </tbody>
            </table>
        </div>        
    </div>
    
</main>
{% endblock %}