{% extends 'pinjam/base.html' %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ data.header }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>
    </div>

    <!-- menampilkan data peminjam -->
    <div class="row">
        <div class="col-sm">
            <div class="form-group row">
                <label for="peminjam_alat" class="col-sm-2 col-form-label">Peminjam alat</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control" id="peminjam_alat" value="{{ peminjam.peminjam_alat }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="tanggal" class="col-sm-2 col-form-label">Tanggal</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control" id="tanggal" value="{{ peminjam.tanggal.strftime('%d-%m-%Y') }}">
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group row">
                <label for="tujuan" class="col-sm-2 col-form-label">Tujuan</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control" id="tujuan" value="{{ peminjam.tujuan }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="petugas_catat" class="col-sm-2 col-form-label">Petugas Catat</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control" id="tujuan" value="{{ peminjam.petugas_catat }}">
                </div>
            </div>
        </div>
    </div>
    <!-- end data peminjaman -->
    <br>
    
    <!-- membuat table -->
    <div class="table-responsive">
        <table class="table table-striped table-sm" id="working">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Kode Alat</th>
                    <th>Nama Alat</th>
                    <th>Merk Alat</th>
                    <th>Serial Number</th>
                    <th>Catatan</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for i in lihat %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ i.alat.kd_alat }}</td>
                        <td>{{ i.alat.nm_alat }}</td>
                        <td>{{ i.alat.merk }}</td>
                        <td>{{ i.alat.no_seri }}</td>
                        <td>{{ i.note }}</td>
                        <td><a href="#" data-toggle="modal" data-target="#note{{ i.id }}" title="Catatan"><span data-feather="plus"></span> Note</a></td>
                    </tr>
                    <!-- Modal Note-->
                    <div class="modal fade" id="note{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Catatan</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <form action="{{ url_for('pinjam.note',id=i.id)}}" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="" class="col-sm-6 col-form-label">Nama Alat</label>
                                    <input type="text" class="form-control" value="{{ i.alat.nm_alat }}" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-6 col-form-label">Nomor seri</label>
                                    <input type="text" class="form-control" value="{{ i.alat.no_seri }}" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-6 col-form-label">Catatan</label>
                                    <input type="text" class="form-control" name="note">
                                    <span>ex: (hilang/rusak/ketinggalan)</span>
                                </div>
                            </div>
                            <div class="modal-footer">                            
                                <button type="submit" class="btn btn-primary">Simpan</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                            </form>                 
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- end modal -->
                {% endfor %}                    
                
            </tbody>
        </table>
    </div>        

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalSelesai">Selesai</button>
    <!-- Modal Konfirmasi Hapus-->
    <div class="modal fade" id="modalSelesai" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <strong>Yakin akan memproses pengembalian alat?</strong>
            </div>
            <div class="modal-footer">
            <form action="{{ url_for('pinjam.selesai',id=peminjam.id)}}" method="post">
                <button type="submit" class="btn btn-primary">Iya</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
            </form>                 
            </div>
        </div>
        </div>
    </div>
    <!-- end modal -->
</main>
{% endblock %}